<div class="messages-wrapper mb20">
    <!-- @for(message of messages(); track message.id) {
        <app-chat-workspace-message
            [message]="message"
        ></app-chat-workspace-message>
    } -->

    @for(date of uniqueDates; track $index) {

        @if(date === today.date && today.isToday) {
            <h3 class="messages-wrapper__date medium-text">Сегодня</h3>
        }
        @else {
            <h3 class="messages-wrapper__date medium-text">{{date}}</h3>
        }
        
        @for(message of messages(); track message.id) {
            @if(date === message.createdAt.split('T')[0]) {
                <app-chat-workspace-message
                    [message]="message"
                ></app-chat-workspace-message>
            }
        }
    }


    <!-- <ng-container *ngFor="let message of messages | keyvalue">
        <h3>{{message.key}}</h3>
        <div *ngFor="let msg of message.value">
            <app-chat-workspace-message
                [message]="msg"
            ></app-chat-workspace-message>
        </div>
    </ng-container> -->
</div>

<app-message-input
    (created)="onSendMessage($event)"
></app-message-input>